:root {
  --clr-light: #00F6ED;
  --clr-bg: #0E1428;
  --clr-orange: #F33E2D;
  --clr-purple: #7A28CB;
  --clr-contrast: #ff0059;
  --clr-white: white;
}

body {
  /*Responsive text*/
  font-size: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
}

body, h1, h2, h3, h4, h5, h6, p, input {
  color: var(--clr-light);
  font-family: "Roboto Mono";
}

a {
  color: var(--clr-contrast);
  text-decoration: none;
}

a, p {
  font-size: clamp(0.5em, 1.5vh, 2em);
}

p {
  font-weight: 300;
}

.center {
  align-items: center;
  border: none;
  display: flex;
  flex-flow: column;
  text-align: center;
}

@property --vibrate-duration {
  syntax: "<time>";
  inherits: false;
  initial-value: 3s;
}

.vibrate-hue {
  animation: vibrate-hue var(--vibrate-duration) ease-in-out infinite;
  animation-direction: alternate;
}

.vibrate-size {
  animation: vibrate-size var(--vibrate-duration) ease-in-out infinite;
  animation-direction: alternate;
}

.border-gradient {
  background: linear-gradient(var(--clr-bg), var(--clr-bg)) padding-box, linear-gradient(var(--orientation-deg), var(--clr-contrast) 50%, var(--clr-purple), var(--clr-light)) border-box;
  animation: rotate var(--vibrate-duration) linear infinite;
  border: 1px solid transparent;
}

.border-gradient:focus, .border-gradient:focus-within {}

.heading {
  font-size: clamp(1em, 1vh, 1.5em);
  font-weight: 700;
  letter-spacing: 0.2vw;
  margin: 0.2vw;
}

.highlight {
  color: var(--clr-contrast);
}

.narrow {
  text-align: justify;
  text-align-last: center;
  width: clamp(330px, 85vw, 70vh);;
}