@property --vibrate-size {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@keyframes vibrate-size {
  0% {
    background-size: 120% 120%;
  }

  100% {
    background-size: var(--vibrate-size) var(--vibrate-size);
  }
}

@-moz-keyframes vibrate-size {
  0% {
    background-size: 120% 120%;
  }

  100% {
    background-size: var(--vibrate-size) var(--vibrate-size);
  }
}

@-webkit-keyframes vibrate-size {
  0% {
    background-size: 120% 120%;
  }

  100% {
    background-size: var(--vibrate-size) var(--vibrate-size);
  }
}